# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual env
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
.eggs/
.eggs-info/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Environments
.env
.env.*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Streamlit / data
*.db
*.sqlite
*.pickle
*.pkl

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Excel dataset (if you don't want to push raw data)
# ADHD Symptom Self-Assessment (Responses).xlsx

# Coverage
htmlcov/
.coverage

# PyCharm
*.iml

# node
node_modules/
